.nav {
  width: 280px;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  background-color: #fafbfc;
}

.nav-item {
  padding: 12px 16px;
  color: #24292e;
  border: 0;
  border-top: 1px solid #eaecef;
}

.nav-item:first-child {
  border-top: 0;
}
